services:
  kitcheniq:
    build: ./kitcheniq
    container_name: kitcheniq
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
      - ./uploads:/app/uploads
    env_file:
      - .env
    restart: unless-stopped
